.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 500px;
  background-color: #dcebf8;
  padding: 15px 35px;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
}

.success {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.success hr {
 width: 200px;
}

.detail {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.detail span {
    font-size: 18px;
    font-weight: 800;
}

.amount {
  font-weight: bold;
  font-size: 50px;
  font-weight: 800;
  padding: 10px; 
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: white;
  width: 400px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
