* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --navbar: #0874cc;
  --nav-text: white;
  --text: rgb(20, 20, 20);
  --accent: #052a49;
  --lightblue: #dcebf8;
  --hover: #87a5f080;
  --PrimaryText: "Open Sans", sans-serif;
  --SecondText: "Roboto", sans-serif;
}

/* header */
.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 30px;
}

.topHeader li {
  margin: 0 20px;
  font-size: 14px;
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  color: var(--nav-text);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.headerLogo img {
  height: 50px;
  width: auto;
}

.searchBox {
  display: flex;
  margin: auto 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 6px;
  flex-direction: row;
  box-sizing: border-box;
  height: 26px;
  width: 195px;
  background: rgba(222, 235, 252, 0.397);
  border: 2px ridge var(--navbar);
  border-radius: 6px;
  align-items: center;
  margin-right: 25px;
  /* backdrop-filter: blur(4px) saturate(180%); */
}

.searchBox input {
  display: inline-block;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding-left: 10px;
  font-size: 12px;
  color: var(--text);
}

.searchBox:hover {
  border: 1px ridge rgba(136, 136, 136, 0.4);
  text-shadow: 1px 1px 2px black, 0px 0px 5px #000000;
  box-shadow: 0px 0px 17px #707594;
}

::placeholder {
  color: rgb(136, 136, 136);
}

.searchBox button {
  border: 0;
  /* border-radius: 50%; */
  width: 35px;
  height: 35px;
  background: transparent;
  color: var(--text);
  cursor: pointer;
}

.headerLogin {
  list-style: none;
  display: flex;
  color: var(--text);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.headerLogin a {
  color: var(--nav-text);
  display: flex;
  text-align: start;
}

.headerLogin li {
  display: flex;
  padding: 4px 8px;
  background: rgba(197, 218, 245, 0.733);
  border: 2px solid var(--navbar);
  border-radius: 6px;
  box-shadow: 0.2px 0.2px 2px rgba(255, 255, 255, 0.651),
  2px 2px 4px rgba(110, 110, 110, 0.651);
  /* letter-spacing: 1px; */
}

.headerLogin li:hover {
  background-color: #bedcf5;
}


/*  navbar   */
.navbar {
  display: flex;
  font-family: var(--PrimaryText);
  width: 100%;
  align-items: center;
  background-color: var(--navbar);
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 12px;
  z-index: 1;
}

.navbar ul {
  margin: 0;
}

.nav__menu {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav__menu li {
  position: relative;
  padding: 8px 32px;
  margin: 4px 18px;
}

.navbar a {
  text-decoration: none;
  color: var(--nav-text);
}

.nav__menu li:hover {
  background-color: var(--hover);
  color: white;
  border: 1px dashed #87a5f080;
  border-radius: 5px;
  text-align: center;
  text-justify: center;
  box-shadow: 0.2px 0.2px 2px rgba(255, 255, 255, 0.651),
    2px 2px 4px rgba(110, 110, 110, 0.651);
  padding: 7px 31px;
  cursor: pointer;
}

/* .nav__toggleBtn {
  position: absolute;
  right: 40px;
  display: none;
  color: var(--nav-text);
} */


.nav__menu.active,
.headerLogin.active {
  display: flex;
}

/* Media Query start */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 40px;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav__menu li {
    width: 100%;
    text-align: center;
  }

  .headerLogin {
    display: none;
    justify-content: center;
    width: 100%;
  }

  /* .tgBtn {
  display: block;
  position: absolute;
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  right: 40px;
  } */


  .column {
    width: 100%;
  }
}

span {
  color: var(--accent);
}